body {
  background-color: #282c34;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* CSS DO HEADER  */
.headerContent span {
  text-decoration: underline;
  padding: 10px;
}

/* CSS DA LISTA */

.cardItem {
  margin-top: 10px;
}

.itemList {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  text-align: center;
}

.btn {
  width: 100%;
  float: right;
  height: 30px;
}
.itemText{
  font-size: 18px; 
}